body {
	background: #e4e4e4;
}
.parent-container {
	border: 1px solid black;
	padding: 20px 5px;
	width: 60%;
	height: 200px;
	margin: 80px auto;
	background: #f0f0eb;
}
.state-value {
	font-weight: 700;
	padding-left: 7px;
}
